{% extends "base.html" %}

{% load i18n %}


{% block head_title %}{% trans "Account Inactive" %}{% endblock %}

{% block content %}
<!-- view at accounts/inactive/ -->
<!-- No need to style this -->
<section class="vh-100" style="background-color: #dfe8da;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-6 text-center">
                
                <h1>{% trans "Account Inactive" %}</h1>
                <p>{% trans "This account is inactive." %}</p>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}