{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<!-- view in /accounts/password/change/ -->
<section class="vh-100" style="background-color: #dfe8da;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
                
                <h1>{% trans "Change Password" %}</h1>
                <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                    {% csrf_token %}
                    {{ form|crispy }}
                        </br/>
                    <button type="submit" class="btn btn-primary btn-lg btn-block" name="action">{% trans "Change Password" %}</button>
                        </br>
                    <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                </form>
            </div>
            </div>
            <div>
        </div>
    </div>
</section>
{% endblock %}