{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

<!-- view in /accounts/password/reset/ -->

<section class="vh-100" style="background-color: #dfe8da;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
  
                <h1>{% trans "Password Reset" %}</h1>
                {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
                {% endif %}
                <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
  
                <form class="signup" method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                    {% csrf_token %}
                   {{ form|crispy }}
                    {% if redirect_field_value %}
                   <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <br/>
                    <input type="submit" class= "btn btn-primary btn-lg btn-block" value="{% trans 'Reset My Password' %}" />
                  </form>
                  <br/>
                  <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>

                    <hr class="my-4">
                    <p>{% blocktrans %}I remember now! Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
             </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}