{% extends 'base.html' %}
{% block metadescription %} Building Rent Overview {% endblock %}
{% load humanize %}
{% load crispy_forms_tags %}

{% block extra_head %} 
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
{% endblock %}

{% block content %}	

<section class="container border border-5 mb-3 mt-3">
    <div class="row justify-content-center">

      <!-- overview start -->
      <div class="container card p-0 mb-2">
        <div class="card-header text-center w-100">
          Rent Overview - {{building.name}} "{{current_year}}"
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="card border-0">
              <div class="card-body">
                <canvas id="rent-chart" data-url="{% url 'building_rent_overview' building.slug %}">
                </canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Overview end-->

        <div class="row">
            <div class="col-sm-3">
              <div class="list-group mb-2">
                    <a href="#" type="button" class="list-group-item list-group-item-action" role="button">Notify Tenants #todo</a>
                </div>
                <div class="card card-body mb-2">
                  <h5 class="card-header text-center">Search Area</h5>
                  <form method="get">
                    <br>
                    {{ tenants_filter.form|crispy }}
                    <br>
                    <div class="form-group text-center">
                      <button class="btn btn-outline-secondary" type="submit">Get</button>
                    </div>
                  </form>
                </div>
            </div>

              <div class="col-sm-9">
                <div class="row">
                  <div class="col-12 card">
                    <div class="card-body">
                             <div class="mb-3">
                                    <div class="card-header text-center">
                                      Tenants
                                    </div>
                                    <div class="card-body">
                                      <div class="row row-cols-1 row-cols-md-3 g-4">
                                     {% for tenant in tenants_filter.qs %}
                                      <div class="col">
                                        <div class="card h-100">
                                        <div class="card-body">
                                        <ul class="list-group ">
                                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                                <div class="ms-2 me-auto"> <span> <h5 class="card-title">Unit Number</h5> </div> &nbsp;
                                                <span> <h5 class="card-title">{{tenant.rented_unit.unit_number}}</h5> </span> <br>
                                            </li>   
                                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                                <div class="ms-2 me-auto"> <span> <h7 class="card-title">Tenant Name</h7> </div> &nbsp;
                                                <span> <h class="card-title">{{tenant.associated_account.first_name}} {{tenant.associated_account.last_name}}</h5> </span> <br>
                                            </li>   
                                            {% if tenant.rented_unit.status == 'occupied' %}                                
                                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                              <div class="ms-2 me-auto"> <span> <a href="{% url 'add-rent' building.slug tenant.rented_unit.slug %}"> Add Rent </a> </span></div> &nbsp;
                                              <span><a href="{% url 'rent-history' building.slug tenant.rented_unit.slug tenant.associated_account.username %}"> 
                                                  Rent History </a></span>
                                            </li>
                                            {% endif %}
                                          </ul>                       
                                        </div>
                                      </div>
                                    </div>
                                    {% empty %}
                                      <div class="ms-2 me-auto"> <span> <h7 class="card-title">Nothing to show</h7> </div>  
                                      {% endfor %}
                                      </div>
                                    </div>
                                  </div>
                      </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <script>
          $(function () {        
            var $rentChart = $("#rent-chart");
            $.ajax({
              url: $rentChart.data("url"),
              success: function (data) {        
                var ctx = $rentChart[0].getContext("2d");        
                new Chart(ctx, {
                  type: 'pie',
                  data: {
                    labels: data.labels,
                    datasets: [{
                      label: 'Rent',
                      data: data.data,
                      backgroundColor: [
                      '#fcba03', '#88fc03', '#A9A9A9', '#1daba8', '#3d5454', '#1e3152',
                      '#47410b', '#557310', '#277310', '#107331', '#2792b0', '#d47a6a',
                      ],
                    }]          
                  },
                  options: {
                    responsive: true,
                    legend: {
                      display: false,
                    },
                    scales: {
                      yAxes: [{
                        ticks: {
                          display: false,
                        }
                      }]
                    },
                    title: {
                      display: true,
                      text: 'Rent Overview'
                    }
                  }
                });
        
              }
            });
        
          });
        
        </script>
    </section>
{% endblock %}