{% extends 'base.html' %}
{% block metadescription %} Building Rent Overview {% endblock %}
{% load humanize %}
{% load crispy_forms_tags %}

{% block content %}	

<section class="container border border-5 mb-3 mt-3">
    <div class="row justify-content-center">

      <!-- overview start -->
      <div class="container card p-0 mb-2">
        <div class="card-header text-center w-100">
          Rent Overview - {{building.name}} "{{current_year}}"
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="card border-0">
              <div class="card-body">
                <canvas id="building-rent-chart" data-url="{% url 'building_rent_overview' building.slug %}">
                </canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Overview end-->

        <div class="row">
            <div class="col-sm-3">
              <div class="list-group mb-2">
                    <a role="button" type="button" class="list-group-item list-group-item-action" data-bs-toggle="modal" data-bs-target="#electricityMeterBackdrop">Add Electricity Meter</a>
                    <a role="button" type="button" class="list-group-item list-group-item-action" data-bs-toggle="modal" data-bs-target="#waterMeterBackdrop">Add Water Meter</a>
                </div>
                <div class="card card-body mb-2">
                  <h5 class="card-header text-center">Search Area</h5>
                  <form method="get">
                    <br>
                    {{ tenants_filter.form|crispy }}
                    <br>
                    <div class="form-group text-center">
                      <button class="btn btn-outline-secondary" type="submit">Get</button>
                    </div>
                  </form>
                </div>
            </div>

              <div class="col-sm-9">
                <div class="row">
                  <div class="col-12 card">
                    <div class="card-body">
                             <div class="mb-3">
                                    <div class="card-header text-center">
                                      Tenants
                                    </div>
                                    <div class="card-body">
                                      <div class="row row-cols-1 row-cols-md-3 g-4">
                                     {% for tenant in tenants_filter.qs %}
                                      <div class="col">
                                        <div class="card h-100">
                                        <div class="card-body">
                                        <ul class="list-group ">
                                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                                <div class="ms-2 me-auto"> <span> <h5 class="card-title">Unit Number</h5> </div> &nbsp;
                                                <span> <h5 class="card-title">{{tenant.rented_unit.unit_number}}</h5> </span> <br>
                                            </li>   
                                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                                <div class="ms-2 me-auto"> <span> <h7 class="card-title">Tenant Name</h7> </div> &nbsp;
                                                <span> <h class="card-title">{{tenant.associated_account.first_name}} {{tenant.associated_account.last_name}}</h5> </span> <br>
                                            </li>   
                                            {% if tenant.rented_unit.status == 'occupied' %}                                
                                            <li class="list-group-item text-center">
                                              <span><a  class="btn btn-outline-success" href="{% url 'rent-history' building.slug tenant.rented_unit.slug tenant.associated_account.username %}"> 
                                                  Enter </a></span>
                                            </li>
                                            {% endif %}
                                          </ul>                       
                                        </div>
                                      </div>
                                    </div>
                                    {% empty %}
                                      <div class="ms-2 me-auto"> <span> <h7 class="card-title">Nothing to show</h7> </div>  
                                      {% endfor %}
                                      </div>
                                    </div>
                                  </div>
                      </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>
<!-- water meter modal start -->
    <div class="modal fade" id="waterMeterBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="waterMeterBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="waterMeterBackdropLabel"> Add Water Meter  </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form action="" method="post" class="no-padding">
                {% csrf_token %}
                {{water_meter_add_form|crispy }}
                <br>
                <div class="form-group text-center">
                  <button class="btn btn-outline-secondary" type="submit">Add</button>
                </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">close</button>
          </div>
        </div>
      </div>
    </div>
    <!-- water meter modal end -->

    <!-- electricity meter modal start -->
    <div class="modal fade" id="electricityMeterBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="waterMeterBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="electricityMeterBackdropLabel">Add Electricity Meter</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form action="" method="post" class="no-padding">
                {% csrf_token %}
                {{electricity_meter_add_form|crispy }}
                <br>
                <div class="form-group text-center">
                  <button class="btn btn-outline-secondary" type="submit">Add</button>
                </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">close</button>
          </div>
        </div>
      </div>
    </div>
    <!-- electricity meter modal end -->
{% endblock %}