{% extends "base.html" %}
{% load i18n %}
{% block metadescription %} Profile {% endblock %}
{% block head_title %}{% trans "Profile" %}{% endblock %}
{% load crispy_forms_tags %}
{% block extra_head %} 
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
{% endblock %}


{% block content %}
<nav class="container mt-3">
  <ol class="breadcrumb bg-light p-2 rounded-2">
      <li class="breadcrumb-item "><a href="{% url 'operational-buildings' %}">Home</a></li>
      <li class="breadcrumb-item active">Profile</li>
  </ol>
</nav>

<section>
    <div class="container py-5">
  
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              <img src="{{user.avatar.url}}" alt="{{user.username}}'s avatar" class="rounded-circle img-fluid" style="width: 150px;">
              <h5 class="my-3">{{user.username}}</h5>
              <div class="d-flex justify-content-center mb-2">
                {% if user.is_manager and user.is_tenant %}
                <span title="Manager & Tenant">
                  <em class="fa fa-star"></em><em class="fa fa-star rating-color"></em><em class="fa fa-star"></em><em class="fa fa-star rating-color"></em>
                </span>
                {% elif user.is_tenant %}
                <span title="Tenant">
                  <em class="fa fa-star"></em><em class="fa fa-star rating-color"></em>
                  </span>
                {% elif user.is_manager %}
                <span title="Manager">
                  <em class="fa fa-star"></em><em class="fa fa-star rating-color"></em><em class="fa fa-star"></em>
                  </span>
                {% else %}
                <span title="Explorer">
                  <em class="fa fa-star rating-color"></em>
                  </span>
                {% endif %}
                &nbsp; &nbsp;
              </div>
              <div>
                <a href="{% url 'profile-settings' %}" class="btn btn-outline-primary" >Update Profile</a>
                </div>
              </div>
              </div>   

        <div class="card mb-3 mb-lg-0">
            <div class="card-body text-center p-0">
              <ul class="list-group list-group-flush rounded-3">
                {% if user.is_tenant %} 
                  <h5 class="mb-3 card-header mb-0"> Tenant Menu </h5>
                  <a href="{% url 'create-report' user.username tenant_instance.rented_unit.slug %}" type="button" class="list-group-item list-group-item-action" role="button">Make a Report</a>
                  <a href="{% url 'create-complaint' tenant_instance.rented_unit.building.slug %}" type="button" class="list-group-item list-group-item-action" role="button">Make a complaint</a>
                  <a href="{% url 'core:my_move_out_notices' tenant_instance.rented_unit.building.slug tenant_instance.rented_unit.slug tenant_instance.associated_account.username %}" type="button"
                  class="mb-3 list-group-item list-group-item-action" role="button">View My Notices</a>
                  {% endif %}
              </ul>
            </div>
          </div>
        </div>

        
<div class="col-lg-8">

  <div class="card mb-4">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-3">
          <p class="mb-0">Full Name</p>
        </div>
        <div class="col-sm-9">
          <p class="text-muted mb-0">{{user.first_name}} {{user.last_name}}</p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-3">
          <p class="mb-0">Email</p>
        </div>
        <div class="col-sm-9">
          <p class="text-muted mb-0">{{user.email}}</p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-3">
          <p class="mb-0">Phone</p>
        </div>
        <div class="col-sm-9">
          <p class="text-muted mb-0">{{user.profile.phone}}</p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-3">
          <p class="mb-0">Address</p>
        </div>
        <div class="col-sm-9">
          <p class="text-muted mb-0">{{user.profile.street_address}}, {{user.profile.county}}, {{user.profile.country}}</p>
        </div>
      </div>
    </div>
  </div>

  {% if tenant_instance %}
    <div class="card text-center">
      <div class="card-header">
        My Rented Unit
      </div>
      <div class="card-body">
        {% if tenant_instance.moved_in %}
        <h5 class="card-title"> Building: {{tenant_instance.rented_unit.building.name}} | Unit: <a href="{% url 'unit-details' tenant_instance.rented_unit.building.slug tenant_instance.rented_unit.slug %}">{{tenant_instance.rented_unit.unit_number}} <a> </h5>
        <p class="card-text">
          <span> Unit Status: {{ tenant_instance.rented_unit.get_status_display }} [{{tenant_instance.rented_unit.get_maintanance_status_display}}] </span>
        </p>
        <p class="card-text">
          <span> Address: {{ tenant_instance.rented_unit.building.address_line }} </span>
        </p>
        <br>
          <div class="d-grid gap-2 d-md-block">
            <a href="{% url 'my-rent' tenant_instance.rented_unit.building.slug tenant_instance.rented_unit.slug user.username %}" 
            class="btn btn-outline-info" role="button" type="button"> Rent & Utilities </a>
            {% if tenant_instance.vacatenotice.notice_status == 'received' %}
            <a href="{% url 'core:cancel-notice' tenant_instance.rented_unit.building.slug user.username tenant_instance.vacatenotice.code %}" 
            class="btn btn-outline-secondary" role="button" type="button"> You have an active notice [cancel?] </a>
            {% else %}
            <a href="{% url 'core:my-notice-to-vacate' tenant_instance.rented_unit.building.slug user.username %}" class="btn btn-outline-danger" title='Put in your move out notice' role="button" type="button"> Submit Move Out Notice </a>
            {% if not check_ins %}
            <a href="#" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#serviceRatingBackdrop"
            title='service rating' role="button" type="button"> Submit Service Rating </a>
            {% else %}
            <a title="Rating will open after 30 days" class="btn btn-outline-info">Rating Locked <em class="fa fa-lock"></em> </a>
            {% endif %}
            {% endif %}
          </div>
          {% endif %}
          <br>
      <div class="card-footer text-muted">
        {% if tenant_instance.moved_in %} You moved in {{tenant_instance.move_in_date|timesince}} ago {% else %} You are not moved in yet {% endif %}
      </div>
    </div>
{% endif %}

    </div>
  </div>
</div>
</section>
{% if not check_ins %}
{% if user.is_tenant %}
<div class="modal fade" id="serviceRatingBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="waterMeterBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="serviceRatingBackdropLabel">Service Rating</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="POST">
          {% csrf_token %}
          {{rating_form|crispy}}  
          <span id='my_rating'></span> 
          <br>
          <div class="text-center">
          <button type="submit" class="btn btn-outline-success">Submit</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">close</button>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endif %}

<script>
  var slider= document.getElementById('id_score');
  var output = document.getElementById('my_rating');
  output.innerHTML = slider.value;
  slider.oninput = function(){
    if (slider.value <= 1){
      slider.style.backgroundColor = 'red';
    }
    else if (slider.value <= 3){
      slider.style.backgroundColor = 'blue';
    }
    else if (slider.value <= 5){
      slider.style.backgroundColor = 'green';
    }
    output.innerHTML = this.value;
  }
</script>
{% endblock %}