{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block metadescription %} Update {{tenant_user.username}} details {% endblock %}

{% block content %}	
<nav class="container mt-3">
  <ol class="breadcrumb bg-light p-2 rounded-2">
      <li class="breadcrumb-item"> <a href="{% url 'building-dashboard' building.slug %}">Dashboard</a></li>
      <li class="breadcrumb-item"><a href="{% url 'view-tenant' building.slug tenant.associated_account.username %}"> View Tenant </a></li>
      <li class="breadcrumb-item active"> {{tenant.associated_account.username}}</li>
      <li class="breadcrumb-item active"> Update </li>
  </ol>
</nav>

<section>
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
                <h3> Updating {{tenant_user.username}} details</h3>
                <form class="no-padding" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend></legend>
                        {{ tenant_form|crispy }}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-outline-primary" type="submit">Update</button>
                    </div>
                </form>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>

</section>
{% endblock %}
