{% extends 'base.html' %}
{% block metadescription %} Building Rent Overview {% endblock %}
{% load humanize %}
{% load crispy_forms_tags %}
{% block extra_css %}
<style type="text/css">
    .top-line{border-top:.25rem solid #000!important}
</style>
{% endblock %}

{% block content %}	
<nav class="container mt-3">
  <ol class="breadcrumb bg-light p-2 rounded-2">
      <li class="breadcrumb-item "><a href="{% url 'building-dashboard' building.slug %}">Dashboard</a></li>
      <li class="breadcrumb-item active">Rent & Utilities</li>
  </ol>
</nav>

<section class="container mb-3 mt-3">
    <div class="row">
      <!-- overview start -->
      <div class="container card p-0 mb-2">
        <div class="card-header text-center w-100">
          Rent Overview - {{building.name}} "{{current_year}}"
        </div>
        <div class="row d-flex justify-content-center">
          <div class="col-sm-12 col-lg-6 col-md-6">
            <div class="card border-0">
              <div class="card-body">
                <canvas id="building-rent-chart" data-url="{% url 'building_rent_overview' building.slug %}">
                </canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Overview end-->

        <div class="row">
            <div class="col-sm-3 col-md-3 co-lg-3 col-xl-3">
              <div class="list-group mb-2">
                <a role="button" type="button" class="list-group-item list-group-item-action" href="{% url 'rent_defaulters' building.slug %}"> Rent Defaulters </a>
                <a role="button" type="button" class="list-group-item list-group-item-action" href="{% url 'rent_increase_notices' building.slug %}"> Rent Increase Notices </a>
                <a role="button" type="button" class="list-group-item list-group-item-action" href="{% url 'electricity_meter_management' building.slug %}"> Electricity Meter Management</a>
                <a role="button" type="button" class="list-group-item list-group-item-action" href="{% url 'water_meter_management' building.slug %}">Water Meter Management</a>
              </div>
                <div class="card card-body mb-2">
                  <h5 class="card-header text-center">Search</h5>
                  <form method="get">
                    <br>
                    {{ tenants_filter.form|crispy }}
                    <br>
                    <div class="form-group text-center">
                      <button class="btn btn-outline-secondary" type="submit">Get</button>
                    </div>
                  </form>
                </div>
            </div>

              <div class="col-sm-9">
                <div class="row">
                  <div class="col-12 card">
                    <div class="card-body">
                             <div class="mb-3">
                                    <div class="card-header text-center">
                                      Tenants
                                    </div>
                                    <div class="card-body">
                                      <div class="row row-cols-1 row-cols-md-2 g-3">

                                        {% for tenant in tenants_filter.qs %}
                                        <div class="col">
                                          <div class="card top-line shadow py-2">
                                            <div class="card-body">
                                              <div class="row no-gutters align-items-center">
                                                <div class="col mr-2">
                                                  <div class="row">
                                                    <small class="col-6 font-weight-bold text-success text-uppercase mb-1"> Unit </small>
                                                    <small class="col-6"> {{tenant.rented_unit.unit_number}}</small>
                                                  </div>
                                                  <hr>
                                                  <div class="row text-center">
                                                    <small class="col-12 font-weight-bold text-success text-uppercase mb-1"> Name </small>
                                                    <small class="col-12"> {{tenant.associated_account.first_name}} {{tenant.associated_account.last_name}} </small>
                                                  </div>
                                                </div>
                                                {% if tenant.rented_unit.status == 'occupied' %} 
                                                <div class="text-center mt-2">
                                                  <span><a  class="btn btn-outline-success" href="{% url 'rent-history' building.slug tenant.rented_unit.slug tenant.associated_account.username %}"> 
                                                    Enter </a></span>
                                                </div>
                                                {% endif %}
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                    {% empty %}
                                      <div class="ms-2 me-auto"> <span> <h7 class="card-title">Nothing to show</h7> </div>  
                                      {% endfor %}
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                  </section>
                
{% endblock %}