{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block extra_css %}
<style type="text/css">
  .stripe_checkout_app{
    height: 580px !important;
    }
</style>
 {% endblock %}
 {% block extra_head %}
 <meta name="mobile-web-app-capable" content="yes">
 {% endblock %}
{% block metadescription %} Submit Rent Payments  {% endblock %}
{% load humanize %}


{% block content %}	
<nav class="container mt-3">
  <ol class="breadcrumb bg-light p-2 rounded-2">
      <li class="breadcrumb-item "><a href="{% url 'operational-buildings' %}">Home</a></li>
      <li class="breadcrumb-item"><a href="{% url 'profile' %}"> Profile </a></li>
      <li class="breadcrumb-item"><a href="{% url 'my-rent' building.slug unit.slug tenant.associated_account.username %}"> Rent Charges</a></li>
      <li class="breadcrumb-item active"> Rent Payment </li>
  </ol>
</nav>

<section style="background-color: #dfe8da;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-sm-12 col-md-10 col-xl-10">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5">
                {% if rent.cleared %}
                <h3 class="text-uppercase text-center"> My Payment For {{rent.pay_for_month}}</h3>
                {% else %}
                <h3 class="text-uppercase text-center"> Submit Rent Payments For {{rent.pay_for_month}}</h3>
                {% endif %}
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                      <div class="ms-2 me-auto">
                        Building
                      </div>
                      <span> {{building.name}} </span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                      <div class="ms-2 me-auto">Unit</div>
                      <span>{{unit.unit_number}}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">Tracking Code</div>
                        <span>{{rent.code}}</span>
                      </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                      <div class="ms-2 me-auto">Rent</div>
                      <span> {{rent.currency}} {{rent.rent_amount|intcomma}}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">Amount Paid</div>
                        <span> {{rent.currency}} {{rent.amount_paid|intcomma}}</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">Remaining Amount</div>
                        <span> {{rent.currency}} {{rent.amount_remaining}} </span>
                      </li>
                      {% if rent.amount_paid_in_advance %}
                      <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">Advance Payment </div>
                        <span> {{rent.currency}} {{rent.amount_paid_in_advance}} </span>
                      </li>
                      {% endif %}
                      {% if rent.cleared %}
                      <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto"> Cleared </div>
                        <span> {% if rent.cleared %} <em class="fa fa-check"></em> {% endif %} </span>
                      </li>
                      {% endif %}
                      <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">Start Date</div>
                        <span> {{rent.start_date}} </span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">End Date</div>
                        <span> {{rent.end_date}} </span>
                      </li>

                      <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">Due Date</div>
                        <span>{% if rent.cleared == False %} {{rent.due_date}} {% else %} <del>{{rent.due_date}} {% endif %}</del> </span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">Last Updated</div>
                        <span> {{rent.updated|naturaltime}} </span>
                      </li>
                  </ul>
                <br>
        <!--test stripe -->
        <!-- data-label TODO: -->
        <div class="row text-center mb-3" style="{% if rent.cleared %} pointer-events: none; opacity: 0.4;{% endif %}">
          <div class="col-6">
          <form method="post" action="{% url 'stripe_pay' building.slug unit.slug rent.code tenant.associated_account.username %}">
            {% csrf_token %}
            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="{{ stripe_publishable_key }}"
              data-amount="{{charge_total}}"
              data-name="RENT PAYMENT"
              data-description="{{description}}"
              data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
              data-locale="auto"
              data-currency="KES">
            </script>
          </form>
        </div>

          <div class="col-6">
            <a type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#mpesaPaybillBackdrop"> Lipa Na Mpesa </a>
          </div>
        </div>

              <div class="text-center">
                <h3><kbd> OR </kbd></h3>
                <div>

                {% if rent.cleared == False %}
                <div class="text-center">
                <small class="card-header"> Just submit your records here <em class="fa fa-arrow-down"></em></small>
                <form class="no-padding text-center" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend></legend>
                        {{ pay_info_form|crispy }}
                    </fieldset>
                    <br>
                    <div class="form-group">
                        <button class="btn btn-outline-primary" type="submit">Submit</button>
                    </div>
                </form>
                <div>
                {% endif %}
                <br>

                <div class="table-responsive">
                <table class="table caption-top">
                  <caption> My Submitted Payments </caption>
                  <thead>
                    <tr>
                      <th scope="col">Code</th>
                      <th scope="col">Tenant</th>
                      <th scope="col">Paid Amount</th>
                      <th scope="col"> Payment Method </th>
                      <th scope="col"> Date </th>
                      <th scope="col"> Status </th>
                      <th scope="col"> Message </th>

                    </tr>
                  </thead>
                  <tbody>
                    {% for pay in previous_payments %}
                    <tr>
                      <th scope="row">{{pay.payment_code}}</th>
                      <td>{{pay.tenant.associated_account.first_name}} {{tenant.associated_account.last_name}}</td>
                      <td>{{rent.currency}} {{pay.amount|intcomma}}</td>
                      <td> {% if pay.paid_with_stripe %} Stripe {% else %} {{pay.payment_method.name}} {% endif %} </td>
                      <td> {{pay.paid_on}} </td>
                      <td> {{pay.get_status_display}}</td>
                      {% if pay.reason %}
                      <td> {{pay.reason|safe}} </td>
                      {% else %}
                      <td> No message left </td>
                      {% endif %}
                    </tr>
                    {% empty %}
                    <tr> 
                      <td> None. </td>
                    </tr>
                    {% endfor %} 
                  </tbody>
                </table>

                <table class="table caption-top">
                  <caption> Mpesa </caption>
                  <thead>
                    <tr>
                      <th scope="col">Reciept Number</th>
                      <th scope="col">Results Code</th>
                      <th scope="col">Amount</th>
                      <th scope="col"> Phone Number </th>
                      <th scope="col"> Status </th>
                      <th scope="col"> Date </th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for p in mpesa_payments %}
                    <tr>
                      <th scope="row">{{p.MpesaReceiptNumber}}</th>
                      <td> {% if p.ResultCode == '0' and p.update_status == 'updated' %} <em class="bg-success">success</em> {% else %} <em class="bg-danger">waiting...</em> {% endif %}</td>
                      <td>{{rent.currency}} {{p.Amount|intcomma}}</td>
                      <td> {{p.PhoneNumber}} </td>
                      <td> {{p.get_update_status_display}}</td>
                      <td> {{p.created|naturalday}} </td>
                    </tr>
                    {% empty %}
                    <tr> 
                      <td> None. </td>
                    </tr>
                    {% endfor %} 
                  </tbody>
                </table>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>


<div class="modal fade" id="mpesaPaybillBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="mpesaPaybillBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="mpesaPaybillBackdropLabel">MPESA ONLINE PAYBILL</h5><br/>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <small class="bold"> Provide a number accessible to you. Your phone will be prompted for a pin </small>
        <form  method="post" action="{% url 'mpesa_pay' building.slug unit.slug rent.code tenant.associated_account.username %}"
        class="no-padding" name="mpesaPay">
            {% csrf_token %}
            <div class="form-outline">
              <input placeholder="e.g 07XXXXXXXX" type="tel" id="pay_with_phone" name="pay_with_phone" class="form-control"
              pattern="[0-9]{3}[0-9]{3}[0-9]{4}" required/>
            </div>
            <br>
            <div class="form-group text-center">
              <button class="btn btn-outline-secondary"type="submit">Proceed</button>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
