{% extends 'base.html' %}
{% block extra_head %}
<meta name="vapid-key" content="{{ vapid_key }}">
    {% if user.id %}
        <meta name="user_id" content="{{ user.id }}">
    {% endif %}
{% endblock %}

{% block content %}

<form id="send-push__form">
    <h3 class="header">Send a push notification</h3>
    <p class="error"></p>
    <input type="text" name="head" placeholder="Header: Your favorite airline 😍">
    <textarea name="body" id="" cols="30" rows="10" placeholder="Body: Your flight has been cancelled 😱😱😱"></textarea>
    <button>Send Me</button>
</form>

{% endblock %}