{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block metadescription %} Contact {% endblock %}

{% block content %}	
<section style="background-color: #dfe8da;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-8 col-xl-8">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
                <form class="no-padding" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend></legend>
                        {{ form|crispy }}
                    </fieldset>
                    <br>
                    <div class="form-group">
                        <button class="btn btn-outline-primary" type="submit">Send</button>
                    </div>
                </form>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>

</section>
{% endblock %}