{% extends "base.html" %}

{% block extra_css %}
<style type="text/css">
    .card {
        transition: all 0.2s ease;
        cursor: pointer
    }
    .card:hover {
        box-shadow: 5px 6px 6px 2px #e9ecef;
        transform: scale(1.1)
          }
          a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:hover { text-decoration: none; }

a:active { text-decoration: none; }
    </style>
{% endblock %}

{% block content %}
<section class="container mb-3 mt-4">
    <div class="row justify-content-center">

        <div class="row">

            <div class="col-md-3 col-sm-3 mb-2">
                <div class="card card-stats">
                    <a href="{% url 'building-dashboard' building.slug %}" class="">
                    <div class="card-header card-header-success card-header-icon">
                      <div class="card-icon">
                        <em class="material-icons">store</em>
                      </div>
                      <h3 class="card-title">DASHBOARD</h3>
                    </div>
                    </a>
                </div>
            </div>

            <div class="col-md-6 col-sm-6 mb-2">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                      <div class="card-icon">
                          <em class="material-icons">content_copy</em>
                      </div>
                      <p class="card-category">Used Space</p>
                      <h3 class="card-title">oof</small></h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <em class="material-icons text-danger">warning</em>
                            <a href="#pablo">Get More Space...</a>
                        </div>
                    </div>
                </div>
            </div>
          
            <div class="col-md-6 col-sm-6 mb-2">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                      <div class="card-icon">
                        <em class="material-icons">store</em>
                      </div>
                      <p class="card-category">tuup</p>
                      <h3 class="card-title">90909</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <em class="material-icons">date_range</em> Last 24 Hours
                        </div>
                    </div>
                </div>
            </div>
          
            </div>
        </div>
    </section>

<div class="card">
    <span> Building Managers </em>
    <em> #todo </em>
</div>

<div class="card">
    <span> Tenants </span> <br>
    <em> "Moved In" : {{movedin_tenants}} </em>
    <em> "Waiting" : {{waiting_tenants}} </em>
</div>
<div class="card">
    <span> Units </span> <br>
    <em> "Occupied" : {{occupied_units}} </em> </br>
    <em> "Un Occupied" : {{un_occupied_units}} </em>
</div>
<div class="card">
    <span> Move Out Notices </span> <br>
    <em> "Received" : {{received_move_out_notices}} </em> </br>
    <em> "Confirmed" : {{confirmed_move_out_notices}} </em> <br>
    <em> "Checking" : {{checking_move_out_notices}} </em>
    <em> "Dropped" : {{dropped_move_out_notices}} </em>
</div>
<div class="card">
    <span> Eviction Notices </span> <br>
    <em> "Initiated" : {{initiated_evictions}} </em> </br>
    <em> "Evicted" : {{evicted_evictions}} </em>
    <em> "Dropped" : {{dropped_evictions}} </em> </br>
</div>

<div class="card">
    <span> Unit Reports </span> <br>
    <em> "Received" : {{recieved_unit_reports}} </em> </br>
    <em> "Processing" : {{processing_unit_reports}} </em>
    <em> "Resolved" : {{resolved_unit_reports}} </em> </br>
    <em> "Dropped" : {{dropped_unit_reports}} </em>
</div>
<div class="card">
    <span> Building Complaints </span> <br>
    <em> "Open" : {{open_complaints}} </em> </br>
    <em> "Closed" : {{closed_complaints}} </em>
</div>
<div class="card">
    <span> Planned Tours </span> <br>
    <em> "Waiting" : {{waiting_tours}} </em> </br>
    <em> "Cancelled" : {{cancelled_tours}} </em>
    <em> "Approved" : {{approved_tours}} </em> </br>
    <em> "Visited" : {{visited_tours}} </em>
</div>

<div class="card">
    <span> Utilities (30 Days) </span> <br>
    <div class="card">
        <span> Electricity </span> <br>
        <em> "KwH" : {{sum_electric_consumption}} </em> </br>
    </div>
    <div class="card">
        <span> Water </span> <br>
        <em> "Litres" : {{sum_water_consumption}} </em> </br>
    </div>
</div>
{% endblock %}