{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block metadescription %} Email Archive {% endblock %}
{% load humanize %}

{% block content %}	
<nav class="container mt-3">
  <ol class="breadcrumb bg-light p-2 rounded-2">
      <li class="breadcrumb-item "><a href="{% url 'operational-buildings' %}">Home</a></li>
      <li class="breadcrumb-item active">Communications</li>
      <li class="breadcrumb-item"><a href="{% url 'core:my_mails' building.slug tenant.associated_account.username %}"> My Archives </a></li>
      <li class="breadcrumb-item active"> View Archive </li>
  </ol>
</nav>

<section class="mb-5 mt-5" style="background-color: #dfe8da;">
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center h-100">


        <div class="col-sm-9">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5">
                <h3 class="text-uppercase text-center"> Email Archive </h3>
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">Ref Number </div>
                        <span>{{archive.ref_number}}</span>
                      </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">Sent To</div>
                        {% if archive.send_to_all %}
                        <span> All Tenants </span>
                        {% else %}
                        <span>Me</span>
                        {% endif %}
                      </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                      <div class="ms-2 me-auto">Sent By</div>
                      <span> {{archive.sent_by}}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">Subject</div>
                        <span> {{archive.subject}}</span>
                      </li>
                      <li class="list-group-item justify-content-between align-items-start fw-bold">
                        <div class="ms-2 me-auto"> Content </div>&nbsp;&nbsp;&nbsp;&nbsp;
                        <div class="col-12">
                          {{archive.body|safe}}
                        </div>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto"> Sent On </div>
                        <span>  {{archive.created|naturaltime}}</span>
                      </li>
                  </ul>

            </div>
        </div>
      </div>
    </div>
  </div>
</section>

  {% endblock %}