{% extends "base.html" %}
{% load humanize %} 
{% load static %}
{% block extra_css %}
<link type="text/css" href="{% static 'css/dashboard.css' %}" rel="stylesheet" crossorigin="anonymous">
<style type="text/css">
    .left-success{border-left:.25rem solid #000!important}
</style>
{% endblock %}

{% block content %}
<section class="container mb-3 mt-4">
    <div class="row justify-content-center">

        <div class="row">


        <div class="describe">
            <div class="container">
                <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
                    <div class="col-md-3 col-sm-3 mb-2">
                    <div class="card card-stats">
                        <a href="{% url 'building-dashboard' building.slug %}" class="">
                        <div class="card-header card-header-success card-header-icon">
                          <div class="card-icon">
                            <em class="material-icons">store</em>
                          </div>
                          <h3 class="card-title"><em class="fa fa-arrow-left"></em> Go Back</h3>
                        </div>
                        </a>
                    </div>
                </div>
                <div class="mb-4 section-header text-center">
                    <h2 class="card-header text-center"> Stats </h2>
                </div>
                </div>

                <!-- overview start -->
          <div class="container card p-0 mb-2">
            <div class="card-header text-center w-100">
              consumption
            </div>
            <div class="row">
              <div class="col-sm-6 col-md-6 col-xl-6">
                <div class="card border-0">
                  <div class="card-body">
                    <canvas id="buildingWaterChart" data-url="{% url 'building_water_consumtion' building.slug %}">
                    </canvas>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-6 col-xl-6">
                <div class="card border-0">
                  <div class="card-body">
                    <canvas id="buildingElectricityChart" data-url="{% url 'building_electricity_consumption' building.slug %}">
                    </canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Overview end-->

          
          
              <div class="row">

                <div class="col-xl-3 col-lg-3 col-md-5 mb-3">
                    <div class="card left-success shadow h-80 py-2">
                      <div class="card-body">
                        <div class="row no-gutters align-items-center">
                          <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Tenants</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                            ({{waiting_tenants}}) Waiting <br/>
                            ({{movedin_tenants}}) Moved In 
                            </div>
                          </div>
                          <div class="col-auto">
                            <em class="fas fa-user fa-2x text-gray-300"></em>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-xl-3 col-lg-3 col-md-5 mb-3">
                    <div class="card left-success shadow h-80 py-2">
                      <div class="card-body">
                        <div class="row no-gutters align-items-center">
                          <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Rental Houses</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                <em>{{occupied_units}} Occupied </em> <br/>
                                <em>{{un_occupied_units}} Empty</em>
                            </div>
                          </div>
                          <div class="col-auto">
                            <em class="fas fa-user fa-2x text-gray-300"></em>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-xl-3 col-lg-3 col-md-5 mb-3">
                    <div class="card left-success shadow h-80 py-2">
                      <div class="card-body">
                        <div class="row no-gutters align-items-center">
                          <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Move Out Notices</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                {{received_move_out_notices}} Received <br/>
                                {{checking_move_out_notices}} Checking <br/>
                                {{confirmed_move_out_notices}} Confirmed <br/>
                                {{dropped_move_out_notices}} Dropped
                            </div>
                          </div>
                          <div class="col-auto">
                            <em class="fas fa-user fa-2x text-gray-300"></em>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-xl-3 col-lg-3 col-md-5 mb-3">
                    <div class="card left-success shadow h-80 py-2">
                      <div class="card-body">
                        <div class="row no-gutters align-items-center">
                          <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Complaints</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                {{open_complaints}} Open <br/>
                                {{closed_complaints}} Closed
                            </div>
                          </div>
                          <div class="col-auto">
                            <em class="fas fa-user fa-2x text-gray-300"></em>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-xl-3 col-lg-3 col-md-5 mb-3">
                    <div class="card left-success shadow h-80 py-2">
                      <div class="card-body">
                        <div class="row no-gutters align-items-center">
                          <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">House Reports</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                {{recieved_unit_reports}} Received <br/>
                                {{processing_unit_reports}} Processing <br/>
                                {{resolved_unit_reports}} Resolved <br/>
                                {{dropped_unit_reports}} Dropped <br/>
                            </div>
                          </div>
                          <div class="col-auto">
                            <em class="fas fa-user fa-2x text-gray-300"></em>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-xl-3 col-lg-3 col-md-5 mb-3">
                    <div class="card left-success shadow h-80 py-2">
                      <div class="card-body">
                        <div class="row no-gutters align-items-center">
                          <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Eviction</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                {{initiated_evictions}} Initiated <br/>
                                {{evicted_evictions}} Evicted <br/>
                                {{dropped_evictions}} Dropped
                            </div>
                          </div>
                          <div class="col-auto">
                            <em class="fas fa-user fa-2x text-gray-300"></em>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-xl-3 col-lg-3 col-md-5 mb-3">
                    <div class="card left-success shadow h-80 py-2">
                      <div class="card-body">
                        <div class="row no-gutters align-items-center">
                          <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Scheduled Visits</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                {{waiting_tours}} Waiting <br/>
                                {{approved_tours}} Approved <br/>
                                {{cancelled_tours}} Cancelled <br/>
                                {{visited_tours}} Visited
                            </div>
                          </div>
                          <div class="col-auto">
                            <em class="fas fa-user fa-2x text-gray-300"></em>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-xl-3 col-lg-3 col-md-5 mb-3">
                    <div class="card left-success shadow h-80 py-2">
                      <div class="card-body">
                        <div class="row no-gutters align-items-center">
                          <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Building Consumption</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                Electricity (KwH)": {{sum_electric_consumption.normalize|intcomma}} <hr/>
                                Water (m3) : {{sum_water_consumption.normalize|intcomma}} 
                                </ul>
                            </div>
                          </div>
                          <div class="col-auto">
                            <em class="fas fa-user fa-2x text-gray-300"></em>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

            </div>
        </div>
    </div>
</section>
{% endblock %}