{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<nav class="container mt-3">
  <ol class="breadcrumb bg-light p-2 rounded-2">
      <li class="breadcrumb-item "><a href="{% url 'building-dashboard' building.slug %}">Dashboard</a></li>
      <li class="breadcrumb-item active"> {{building.name}} </li>
      <li class="breadcrumb-item"><a href="{% url 'building-complaints' building.slug %}">Complaints</a></li>
      <li class="breadcrumb-item active"> {{complaint.complaint_code}} </li>
  </ol>
</nav>

<section class="container mt-3">
    <div class="row justify-content-center">
        <div class="container">
            <div class="row d-flex justify-content-center">
              <div class="col-md-8">
                      <div class="card mb-4">
                        <div class="card-body">

                            <div class="row">
                                <div class="col-sm-3">
                                  <p class="mb-0">Compalint Code</p>
                                </div>
                                <div class="col-sm-9">
                                  <p class="text-muted mb-0">{{complaint.complaint_code}}</p>
                                </div>
                              </div>
                              <hr>

                              <div class="row">
                                <div class="col-sm-3">
                                  <p class="mb-0">Status</p>
                                </div>
                                <div class="col-sm-9">
                                  <p class="text-muted mb-0">{{complaint.get_status_display}}</p>
                                </div>
                              </div>
                              <hr>

                          <div class="row">
                            <div class="col-sm-3">
                              <p class="mb-0">Name</p>
                            </div>
                            <div class="col-sm-9">
                              <p class="text-muted mb-0">{{complaint.name}}</p>
                            </div>
                          </div>
                          <hr>
                          <div class="row">
                            <div class="col-sm-3">
                              <p class="mb-0">Building</p>
                            </div>
                            <div class="col-sm-9">
                              <p class="text-muted mb-0">{{building.name}}</p>
                            </div>
                          </div>
                        
                          <hr>
                          <div class="row">
                            <div class="col-sm-3">
                              <p class="mb-0">Body</p>
                            </div>
                            <div class="col-sm-9">
                              <p class="text-muted mb-0">{{complaint.body|safe}}</p>
                            </div>
                          </div>
                          <hr>
                          <div class="row">
                            <div class="col-sm-3">
                              <p class="mb-0">Created</p>
                            </div>
                            <div class="col-sm-9">
                              <p class="text-muted mb-0">{{complaint.created|timesince }} ago </p>
                            </div>
                          </div>
                          <hr>
                          <div class="row">
                            <div class="col-sm-3">
                              <p class="mb-0">Updated</p>
                            </div>
                            <div class="col-sm-9">
                              <p class="text-muted mb-0">{% if complaint.updated %} {{complaint.updated|timesince }} ago {% else %} Not yet updated {% endif %}</p>
                            </div>
                          </div>

                        </div>
                      </div>

                      <h4 class="card-header text-center">Update Complaint Status</h4>

                    <form class="no-padding" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            <legend></legend>
                            {{ update_form|crispy }}
                        </fieldset>
                        <br>
                        <div class="form-group text-center">
                            <button class="btn btn-outline-primary" type="submit">Update</button>
                        </div>
                    </form>

                    <br>

                </div>

              </div>
            </div>
          </div>

    </div>
</section>
{% endblock %}