{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block metadescription %} Visits {% endblock %}

{% block content %} 
<div class="container-fluid">
<section class="container d-flex justify-content-center p-5">
    <div class="row">

            <div class="card card-body">
                <div class="d-grid gap-2 d-md-block">
                    <a href="?status=received" type="button" class="btn btn-outline-primary" role="button">Recieved</a>
                    <a href="?status=processing" type="button" class="btn btn-outline-info" role="button">Processing</a>
                    <a href="?status=resolved" type="button" class="btn btn-outline-success" role="button">Resolved</a>
                    <a href="?status=cancelled" type="button" class="btn btn-outline-danger" role="button">Cancelled</a>
                  </div>

                  &nbsp; &nbsp;

                <input class="form-control" id="myInput" type="text" placeholder="Search..">
                <table class="table table-striped table-hover">
                    <thead>
                      <tr>
                        <th scope="col">Code</th>
                        <th scope="col">Reported By</th>
                        <th scope="col"> Unit </th>
                        <th scope="col"> Description </th>
                        <th scope="col">Report Status</th>
                        <th scope="col">Update</th>
                        <th scope="col">Submitted</th>
                      </tr>
                    </thead>
                    <tbody id='ourTable'>
                        {% for report in reports %}
                      <tr>
                        <th scope="row">{{ report.code }}</th>
                        <td>{{ report.reported_by.associated_account.username }}</td>
                        <td>{{ report.reported_by.rented_unit.unit_number }} </td>
                        <td> {% if report.desc %} {{ report.desc }} {% else %} No further details {% endif %}</td>
                        <td> {{ report.get_status_display}} </td>
                        <td>{{ report.created|timesince }}</td>
                        <td>{{ report.updated|timesince }}</td>
                        <td><a href="{% url 'view-update-reports' report.unit.building.slug report.unit.slug report.code %}"> 
                          <h5> view/update </h5> </a></td>
                      </tr>
                      {% empty %}
                      <tbody>
                        <tr>
                          <td>
                      <p> No reports to display! </p>
                          </td>
                        </tr>
                      </tbody>
                      {% endfor %}
        
                    </tbody>
                </table>
        </div>
    </div>
    </div>
</section>

{% endblock %}