{% extends 'base.html' %}
{% block metadescription %} Rent Invoices {% endblock %}
{% load humanize %}
{% load crispy_forms_tags %}

{% block content %}	

<nav class="container mt-3">
  <ol class="breadcrumb bg-light p-2 rounded-2">
      <li class="breadcrumb-item "><a href="{% url 'operational-buildings' %}">Home</a></li>
      <li class="breadcrumb-item"><a href="{% url 'profile' %}"> Profile </a></li>
      <li class="breadcrumb-item active"> Rent Charges </li>
  </ol>
</nav>


<section class="container">
    <div class="row justify-content-center">

        <div class="container">

          <div class="card mb-3">
            <div class="card-header text-center">
             External Rent Payment Options
            </div>
            <div class="card-body">
              <div class="row row-cols-1 row-cols-md-3 g-4">
              {% for option in payment_options %}
              <div class="col">
                <div class="card h-100">
                <div class="card-body">
                  <h5 class="card-title">{{option.name}}</h5> <hr>
                  {% if option.paybill_number %}
                  <span> Paybil Number: {{option.paybill_number}}</span> <br>
                  {% endif %}
                  <span>Account Name: {{option.account_name}}</span>
                  <span>Account Number: {{option.account_number}}</span>
                </div>
              </div>
            </div>
              {% endfor %}
              </div>
            </div>
          </div>


          <!-- overview start -->
          <div class="container card p-0 mb-2">
            <div class="card-header text-center w-100">
              Overview
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-4 col-xl-4">
                <div class="card border-0">
                  <div class="card-body">
                    <canvas id="tenantRentChart" data-url="{% url 'rent_chart' building.slug unit.slug tenant.associated_account.username %}">
                    </canvas>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-4 col-xl-4">
                <div class="card border-0">
                  <div class="card-body">
                    <canvas id="tenantWaterUsageChart" data-url="{% url 'tenant-water-usage' building.slug unit.slug tenant.associated_account.username %}">
                    </canvas>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-4 col-xl-4">
                <div class="card border-0">
                  <div class="card-body">
                    <canvas id="tenantsElectricityUsage" data-url="{% url 'tenant_electricity_usage' building.slug unit.slug tenant.associated_account.username %}">
                    </canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Overview end-->

    
            <div class="row">
              <div class="mb-3 col-sm-12 col-md-3 col-xl-3">
                
                <div class="list-group">
                    <a href=" {% url 'my_electric_bills' building.slug unit.slug tenant.associated_account.username %} " type="button" class='list-group-item list-group-item-action' role="button">My Electricity Bills</a>
                    <a href="{% url 'my_water_billing' building.slug unit.slug tenant.associated_account.username %}" type="button" class="list-group-item list-group-item-action" role="button">My Water Bills</a>
                    {% if i_notice %}
                    <a href="{% url 'view_rent_increase_notice_pdf' building.slug i_notice.ref_code %}" type="button" class="list-group-item list-group-item-action" role="button">Rent Increase Notice </a>
                    {% else %}
                    <a href="#" type="button" class="list-group-item list-group-item-action" role="button"> No Rent Notice </a>
                    {% endif %}
                  </div>
                  <div class="card mt-4">
                    <h4 class="text-center card-header">Search </h4>
                      <div class="card-body">
                        <form method='GET' class="no-padding">
                          {{tenant_rent_details_qs.form|crispy}}
                          <br>
                          <div class="form-group text-center">
                              <button class="btn btn-outline-secondary" type="submit">Get</button>
                          </div>
                        </form>
                      </div>
                    </div>
              </div>

              <div class="col-sm-12 col-md-9 col-xl-9 mb-4">
                <div class="row">
                  <div class=" col-sm-12">
                      <div class="card card-body">
                          <input class="form-control" id="myInput" type="text" placeholder="Search..">
                          {{xx.total}}
                          <div class="table-responsive">
                        <table class="table table-striped table-hover">
                          <caption></caption>
                            <thead>
                              <tr>
                                <th scope="col"> Code </th> 
                                <th scope="col">Unit</th>
                                <th scope="col">Rent Amount</th>
                                <th scope="col"> Amount Paid </th>
                                <th scope="col"> For Month </th>
                                <th scope="col"> From </th>
                                <th scope="col"> To </th>
                                <th scope="col"> Due Date </th>
                                <th scope="col"> Status </th>
                              </tr>
                            </thead>
                            <tbody id='ourTable'>
                        {% for rent in tenant_rent_details_qs.qs %}
                        <tr>
                          <th scope="row"> {{rent.code}} </th>
                            <th scope="row" > {{rent.unit.unit_number}} </th>
                            <td>{{rent.currency}} {{rent.rent_amount|intcomma}}</td>
                            <td>{{rent.currency}} {{rent.amount_paid|intcomma}}</td>
                            <td> {{rent.pay_for_month}} </td>
                            <td> {{rent.start_date}} </td>
                            <td> {{rent.end_date}} </td>
                            {% if rent.cleared %}
                            <td class="bg-success" title="all good"> {{rent.due_date|naturalday}} </td>
                            <td> Cleared </td>
                            <td> <a href="{% url 'pay-info' building.slug unit.slug rent.code rent.tenant.associated_account.username %}">
                              view </a>
                            {% else %}
                            <td class="bg-danger" title="please clear the blank payments"> {{rent.due_date|naturalday}} </td>
                            <td> Uncleared </td>
                            <td> <a href="{% url 'pay-info' building.slug unit.slug rent.code rent.tenant.associated_account.username %}">
                              Submit Payments </a></td>
                            {% endif %}
                        {% empty %}
                        <tbody>
                            <tr>
                              <td>
                          <p> Nothing to display! </p>
                              </td>
                            </tr>
                        {% endfor %}
                          </tbody>
                          </table>
                        </div>

                    </tr>
                </tbody>
                      </ul> 
                      </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>
{% endblock %}