{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block metadescription %} Tenant Water Billing  {% endblock %}
{% load humanize %}

{% block content %}	
<nav class="container mt-3">
  <ol class="breadcrumb bg-light p-2 rounded-2">
      <li class="breadcrumb-item "><a href="{% url 'building-dashboard' building.slug %}">Dashboard</a></li>
      <li class="breadcrumb-item"><a href="{% url 'rent-and-utilities' building.slug %}">Rent & Utilities </a></li>
      <li class="breadcrumb-item"><a href="{% url 'rent-history' building.slug unit.slug tenant.associated_account.username %}">Rent</a></li>
      <li class="breadcrumb-item"><a href="{% url 'manager-water-billing' building.slug unit.slug tenant.associated_account.username %}">Water Billing</a></li>
      <li class="breadcrumb-item active">Bill Details ({{bill_cycle.bill_code}})</li>
  </ol>
</nav>

<section class="mb-5 mt-5" style="background-color: #dfe8da;">
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center h-100">

        <div class="row">
            <div class="col-sm-3">
              <form action="" method="post" class="no-padding">
                <h6 class="card-header text-center"> Add New Water Reading </h6>
                  {% csrf_token %}
                  {{reading_form|crispy}}
                  <br>
                      <div class="form-group text-center">
                          <button class="btn btn-outline-secondary" type="submit">Add New</button>
                      </div>
              </form>
              <div class="mt-5 mb-2 d-grid gap-2">
                <a href="#payments-direct" class="btn btn-outline-success" type="button">Go to payments</a>
              </div>
            </div>

        <div class="col-sm-9">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5">
                <h3 class="text-uppercase text-center"> Water Billing Cycle For "{{bill_cycle.from_date|naturalday}} - {{bill_cycle.to_date|naturalday}}" </h3> </h3>
            
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                      <div class="ms-2 me-auto">
                        Building
                      </div>
                      <span> {{building.name}} </span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                      <div class="ms-2 me-auto">Unit</div>
                      <span>{{unit.unit_number}}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">Bill Code</div>
                        <span>{{bill_cycle.bill_code}}</span>
                      </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                      <div class="ms-2 me-auto">Meter</div>
                      <span> {{bill_cycle.meter_number.number}}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">Units</div>
                        {% if bill_cycle.units %}
                        <span> {{bill_cycle.units|intcomma}}</span>
                        {% else %}
                        <span> Not Yet Updated </span>
                        {% endif %}
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto"> Unit Price </div>
                        <span> KES {{bill_cycle.unit_price|intcomma}}</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto"> Est. Cost </div>
                        <span> KES {{bill_cycle.total|intcomma}}</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto"> Amount Paid </div>
                        <span> KES {{bill_cycle.amount_paid|intcomma}}</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto"> Remaining </div>
                        <span> KES {{bill_cycle.amount_remaining|intcomma}}</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">Cleared </div>
                        <span> {{bill_cycle.cleared}} </span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">Status</div>
                        <span> {% if bill_cycle.lock_cycle == True %} Closed {% else %} Open {% endif %} </span>
                      </li>

                      <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">Due Date</div>
                        <span>{% if bill_cycle.cleared == False %} {{bill_cycle.due_date}} {% else %} 
                            <em class="bg-success">{{bill_cycle.due_date}} {% endif %}</em> </span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <a type="button" class="underline" data-bs-toggle="modal" data-bs-target="#waterbillingUpdatebackdrop"> Last Updated </a> </div>
                        <span> {{bill_cycle.updated|timesince}} </span>
                      </li>

                  </ul>
                <br>

                <div class="table-responsive">
                <table class="table caption-top">
                  <caption> Added Readings </caption>
                  <thead>
                    <tr>
                      <th scope="col">Previous Reading</th>
                      <th scope="col">Current Reading</th>
                      <th scope="col">Units</th>
                      <th scope="col"> Reading Date </th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for r in readings %}
                    <tr>
                      <td>{{r.previous_reading}}</td>
                      <td>{{r.current_reading}}</td>
                      <td> {{r.consumption}} </td>
                      <td> {{r.reading_added|naturalday}} </td>
                    </tr>
                    {% empty %}
                    <tr> 
                      <td> No readings added. </td>
                    </tr>
                    {% endfor %} 
                  </tbody>
                </table>
                </div>

            </div>
        </div>
      </div>
    </div>
  </div>

  <!-- start billing modal -->
  <div class="modal fade" id="waterbillingUpdatebackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="waterbillingUpdatebackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="waterbillingUpdatebackdropLabel">Update Billing</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="" method="post" class="no-padding">
              {% csrf_token %}
              {{update_bill_form|crispy }}
              <br>
              <div class="form-group text-center">
                <button class="btn btn-outline-secondary" type="submit">Update</button>
              </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- end billing modal -->

</section>

<section class="mb-5 mt-2">
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center h-100">

      <div class="row">
      <div class="col-sm-3">
        <span id="payments-direct"> </span>
      </div>

      <div class="col-sm-9 card table-responsive">
        <table class="table caption-top">
          <caption> payments for this cycle </caption>
          <thead>
            <tr>
              <th scope="col">Payment Code</th>
              <th scope="col">Paid Amount</th>
              <th scope="col">Payment Method</th>
              <th scope="col"> Date </th>
              <th scope="col"> Status </th>
            </tr>
          </thead>
          <tbody>
            {% for p in water_bill_payments %}
            <tr>
              <td>{{p.payment_code}}</td>
              <td>KES {{p.amount}}</td>
              <td> {{p.payment_method}} </td>
              <td> {{p.date_paid|naturalday}} </td>
              <td> {{p.get_status_display}}</td>
              {% if p.lock %}
              <td> <em class="fa fa-lock"></em> Locked </td>
              {% else %}
              <td> <a href="{% url 'update_water_payments' building.slug unit.slug tenant.associated_account.username bill_cycle.bill_code p.tracking_code %} "> update </a> </td>
              {% endif %}
            </tr>
            {% empty %}
            <tr> 
              <td> No payments submitted. </td>
            </tr>
            {% endfor %} 
          </tbody>
        </table>
        </div>
      </div>

    </div>
  </div>
</section>
{% endblock %}
