{% extends 'base.html' %}
{% block metadescription %}Availale Buildings {% endblock %}

{% block extra_css %} 
<style type="text/css">
    .card {
        transition: all 0.2s ease;
        cursor: pointer
    }
    .card:hover {
        box-shadow: 5px 6px 6px 2px #e9ecef;
        transform: scale(1.1)
          }
          a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:hover { text-decoration: none; }

a:active { text-decoration: none; }

    </style>
{% endblock %}
{% block content %} 
<br/>

<section class="container p-5">
    <div class="d-grid gap-2 mb-3 text-center">
        <span class="btn-outline-success" ><h3>  Available Vacancies </h3></span>
      </div>
    <!-- Houses -->

    <div class="row row-cols-1 row-cols-md-3 g-3 mt-3">
        {% for building in operational_buildings %}
        <div class="col-md-4 col-sm-4 mb-2">
            <div class="card card-stats">
                <a href="{{building.get_url}}">
                <div class="card-header card-header-success card-header-icon">
                  <div class="card-icon">
                    <em class="material-icons">apartment</em>
                    <p class="card-category">{{building.get_building_status_display}}</p>
                  </div>
                  <h3 class="card-title">{{building.name}}</h3>
                </div>
                <div class="card-footer">
                    <small class="text-muted">{{building.address_line}}</small><br>
                    <small class="text-muted">County : {{building.county}}</small> <br>
                    <small class="text-muted">Nairobi : {{building.country}}</small>
                </div>
                </a>
            </div>
        </div>
        {% empty %}
        <div class="row g-4">
            <p> There are no empty buildings at the moment, Please check back later! </p>
        </div>
        {% endfor%}
    </div>
</section>
{% endblock %}