{% extends "base.html" %}
{% load static %}

{% block metadescription %}
	{% if county %}
		{{ county.name}}
	{% else %}
		Welcome
	{% endif %}
{% endblock %}

<!-- view in list-by- county -->

{% block content %}
<div class="container">
	{% if county %}
	<br>
	<div>
		<h1 class="text-center my_title"><strong>{{county.name}}</strong></h1>
	</div>
	{% endif %}

	<div class="container">
		<div class="row row-cols-1 row-cols-md-3 g-4">
			{% for building in buildings %}
            <div class="col">
                <div class="card h-100">
					{% if building.image %}
                    <img class="card-img-top" src="{{building.image.url}}" alt="{{building.name|slice:10}}.. image">
					{% endif %}
                    <div class="card-body">
						<span class="p-2 card-title">Building Name: {{ building.name }}</span> <br>
						<a class="btn btn-outline-info" href="{{building.get_url}}"> View Vacancies </a>
						<p class="card-text"></p>
					</div>
					<div class="card-footer">
						<small class="text-muted">Status: {{building.get_building_status_display}}</small>
					</div>
                </div>
            </div>
			{% empty %}
				<p> Currently empty.</p>
			{% endfor%}
		</div>

		{% include 'includes/pagination.html' %}
		
		<br>
	</div>
</div>
{% endblock %}

