{% extends 'base.html' %}
{% block metadescription %} Building Dashboard {% endblock %}
{% load crispy_forms_tags %}
{% block content %} 
<nav class="container mt-3">
  <ol class="breadcrumb bg-light p-2 rounded-2">
      <li class="breadcrumb-item active">Dashboard</li>
  </ol>
</nav>

<div class="container mb-3">
      <div class="row">
          <div class="d-flex align-items-center">
              <main class="text-center w-100">

                <div class="container card p-0 mb-2">
                  <div class="card-header text-center w-100 text-uppercase">
                    {{building.name}}
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="card border-0">
                        <div class="card-body">
                          <ul class="list-group">
                            <li class="list-group-item d-flex justify-content-between border-0 align-items-center">
                              <strong> Estate </strong>
                              <span> {% if building.estate %} {{building.estate }} {% else %} Not Listed{% endif %} </span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between border-0 align-items-center">
                                <strong> Registered owner </strong>
                                <span>  {{building.registered_owner }}</span>
                              </li>
                            <li class="list-group-item d-flex justify-content-between border-0 align-items-center">
                                <strong> Address Line: </strong>
                                <span>{{building.address_line}}, {{building.county}}</span>
                              </li>
                          <li class="list-group-item d-flex justify-content-between border-0 align-items-center">
                            <strong> Registered Country </strong>
                            <span> {{building.country}}</span>                                  
                          </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="card border-0">
                        <div class="card-body">
                          <ul class="list-group">
                            <li class="list-group-item d-flex justify-content-between border-0 align-items-center">
                              <strong> Current Status </strong>
                              <span> {{building.get_building_status_display}}</span>                                  
                            </li>
                            <li class="list-group-item d-flex justify-content-between border-0 align-items-center">
                              <strong> Occupied Units </strong>
                              <span> {{oc_units_count}}</span>                                  
                            </li>
                            <li class="list-group-item d-flex justify-content-between border-0 align-items-center">
                              <strong> Unoccupied Units </strong>
                              <span> {{em_units_count}}</span>                                  
                            </li>
                            <li class="list-group-item d-flex justify-content-between border-0 align-items-center">
                              <span> <a class="btn btn-outline-primary" title="click to update status" href="{% url 'update-building-status' building.slug %}"> update </a> </span>      
                            </li>
                          </ul>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-3">
                    <!-- start test-->
                    <div class="overflow-hidden">
                      <div class="row vh-100 overflow-auto">
                          <div class="col-12 col-xl-12 col-md-12 px-sm-2 px-0 bg-light d-flex sticky-top">
                              <div class="d-flex flex-sm-column flex-row flex-grow-1 align-items-center align-items-sm-start px-3 pt-2 text-white">
                                  <a href="#" class="d-flex align-items-center pb-sm-3 mb-md-0 me-md-auto text-white text-decoration-none">
                                      <span class="text-dark fs-5">Building Menu</span>
                                  </a>
                                  <ul class="nav nav-pills flex-sm-column flex-row flex-nowrap flex-shrink-1 flex-sm-grow-0 flex-grow-1 mb-sm-auto mb-0 justify-content-center align-items-center align-items-sm-start" id="menu">
                                      <li class="nav-item">
                                          <a href="{% url 'managed-building-units' building.slug %}" class="nav-link px-sm-0 px-2">
                                              <span class="ms-1 d-none d-sm-inline">Rental Houses</span>
                                          </a>
                                      </li>
                                      <li>
                                          <a href="{% url 'add-new-tenant' building.slug %}" data-bs-toggle="collapse" class="nav-link px-sm-0 px-2">
                                              <span class="ms-1 d-none d-sm-inline">Add Tenants</span> </a>
                                      </li>
                                      <li>
                                          <a href="{% url 'core:general_communications' building.slug %}" class="nav-link px-sm-0 px-2">
                                             <em class="fa fa-envelope"></em><span class="ms-1 d-none d-sm-inline">Comms</span></a>
                                      </li>
                                      <li>
                                        <a href="{% url 'rent-and-utilities' building.slug %}" class="nav-link px-sm-0 px-2">
                                            <span class="ms-1 d-none d-sm-inline">Utilities & Rent</span></a>
                                    </li>
                                    <li>
                                      <a href="{% url 'hired_personnel' building.slug %}" class="nav-link px-sm-0 px-2">
                                          <span class="ms-1 d-none d-sm-inline">Hired Personnel</span></a>
                                    </li>
                                    <li>
                                      <a href="{% url 'work_orders' building.slug %}" class="nav-link px-sm-0 px-2">
                                          <span class="ms-1 d-none d-sm-inline">Work Orders</span></a>
                                    </li>
                                    <li>
                                      <a href="{% url 'maintanance_notices' building.slug %}" class="nav-link px-sm-0 px-2">
                                          <span class="ms-1 d-none d-sm-inline">Maintanance Notices</span></a>
                                    </li>
                                    <li>
                                      <a href="{% url 'core:visits' building.slug %}" class="nav-link px-sm-0 px-2">
                                          <span class="ms-1 d-none d-sm-inline">Visits|Tours</span></a>
                                    </li>
                                    <li>
                                      <a href="{% url 'reports' building.slug %}" class="nav-link px-sm-0 px-2">
                                        <em class="top-1 badge rounded-pill bg-secondary">({{building_reports_count}})</em>
                                        <span class="ms-1 d-none d-sm-inline">Reports</span></a>
                                    </li>
                                    <li>
                                      <a href="{% url 'building-complaints' building.slug %}" class="nav-link px-sm-0 px-2">
                                          <span class="ms-1 d-none d-sm-inline">Complaints</span></a>
                                    </li>
                                    <li>
                                      <a href="{% url 'core:evictions' building.slug %}" class="nav-link px-sm-0 px-2">
                                          <span class="ms-1 d-none d-sm-inline">Evictions</span></a>
                                    </li>
                                    <li>
                                      <a href="{% url 'core:move-out-notices' building.slug %}" class="nav-link px-sm-0 px-2">
                                          <span class="ms-1 d-none d-sm-inline">Move Out Notices</span></a>
                                    </li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!-- end test -->
                  </div>
                  <div class="col-sm-9">
                    <div class="row">
                      <div class="col-12 col-sm-12">
                        <div class="card card-body mb-2">
                          <h4 class="card-header text-center"> Search Tenants</h4>
                          <form class="no-padding" method="get">
                              {{tenants.form|crispy}}
                              <br>
                              <div class="form-group text-center">
                                  <button class="btn btn-outline-secondary" type="submit">Search</button>
                              </div>
                          </form>
                        </div>
                        <div class="card card-body">
                          <input class="form-control" id="myInput" type="text" placeholder="table search..">
                          <div class="table-responsive">
                          <table class="table table-striped table-hover">
                            <caption> Tenants </caption>
                              <thead>
                                <tr>
                                  <th scope="col">Full Name</th>
                                  <th scope="col">Occupied Unit</th>
                                  <th scope="col"> Unit Maintanance Status </th>
                                  <th scope="col"> Active Phone </th>
                                  <th scope="col">Update</th>
                                </tr>
                              </thead>
                              <tbody id='ourTable'>
                                  {% for tenant in tenants.qs %}
                                <tr>
                                  <th scope="row">{{ tenant.associated_account }}</th>
                                  <td>{{ tenant.rented_unit.unit_number }}</td>
                                  <td> {{ tenant.rented_unit.get_maintanance_status_display}} </td>
                                  <td> {{ tenant.active_phone_number}} </td>
                                  <td><a href="{% url 'view-tenant' building.slug tenant.associated_account.username %}"> <h5> view </h5> </a></td>
                                </tr>
                                {% empty %}
                                <tbody>
                                  <tr>
                                    <td>
                                <p> Nothing to display! </p>
                                    </td>
                                  </tr>
                                </tbody>
                                {% endfor %}
                  
                              </tbody>
                          </table>
                          </div>
                  </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              </main>
      </div>
</div>

{% endblock %}