{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block metadescription %} Update Building Status  {% endblock %}

{% block content %}	
<nav class="container mt-3">
  <ol class="breadcrumb bg-light p-2 rounded-2">
      <li class="breadcrumb-item "><a href="{% url 'building-dashboard' building.slug %}">Dashboard</a></li>
      <li class="breadcrumb-item active">Update Building Status </li>
  </ol>
</nav>

<section style="background-color: #dfe8da;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-8 col-xl-7">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
                <h3> Update Buiding Status </h3>
                <h4> {{building.name}} </h4>
                <form class="no-padding" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend></legend>
                        {{ update_form|crispy }}
                    </fieldset>
                    <br>
                    <div class="form-group">
                        <a href="{% url 'building-dashboard' building.slug %}" class="btn btn-outline-danger" type="submit">Cancel</a>
                        <button class="btn btn-outline-success" type="submit">Update</button>
                    </div>
                </form>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>

</section>
{% endblock %}
